{
    "oldapi": {
        "client_id": "email",
        "client_secret": "api-key",
        "username": "email",
        "password": "password",
        "url": "https://apiflowerpower.parrot.com",
        "method": "oldapi"
    },
    "newapi": {
        "client_id": "email",
        "client_secret": "api-key",
        "username": "email",
        "password": "password",
        "url": "https://api-flower-power-pot.parrot.com",
        "method": "newapi"
    }


}
